body {
    margin: 0;
    padding: 0;
}

* {
    list-style: none;
}

.header .logo {
    text-align: center;
    margin: 30px 0;
}

.header .secondary-nav{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: max-content;
}

.header .secondary-nav .links{
    display: flex;
    gap: 0 10px;
}